.accordion-button {
    padding-top: 7px;
    padding-bottom: 7px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 14px;
}

.accordion-button:not(.collapsed) {
    color: $green;
    background-color: #eaeaea;
    box-shadow: none;
}


.accordion-item {
    border-left:0;
    border-right:0;
    border-top:0;

    .accordion-body {
        h3 {
            font-size: 14px;
            text-transform: uppercase;
            margin-top:15px;



        }

        .accordion {
            border:1px solid #dee2e6;

        }
    }


}



.accordion-flush {
    border-radius: 7px;
    .accordion-item:first-child {
    border-radius: 7px 7px 0 0;
    h2 {
        button {
        border-radius: 7px 7px 0 0;
    }
    }
    
}
  .accordion-item:last-child {
    border-radius: 0px 0px 7px 7px;
    h2 {
        button {
        border-radius: 0px 0px 7px 7px;
        &[aria-expanded="true"] {
            border-radius: 0px;
        }
    }
    }
    
}
}

