

.tools {
    .btn-outline-primary,
.btn-outline-secondary,
.btn-outline-success,
.btn-outline-danger,
.btn-outline-warning,
.btn-outline-info,
.btn-outline-light,
.btn-outline-dark {
    background: #fff;
   border:0;
  
}


.btn-outline-success:hover {
    background: $green;
}

.btn-outline-dark:hover {
    background: #224418;
}
.btn-outline-danger:hover {
     background: #C70606;
}

}
